html {
    overflow-x: hidden;
}

body {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #6facca;
}

body > div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 96vw;
}

html,
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p,
input,
select,
option,
button {
    -webkit-appearance: none;
    font-family: Arial, ArialHebrew, sans-serif;
    text-align-last: center;
    font-size: x-large;
    text-align: center;
    color: #FFF;
    margin: 1vh;
    padding: 1vh;
}

input,
select,
option,
button {
    background-color: #333;
    border-radius: 1vh;
    border-color: transparent;
}

button {
    min-height: 8vh;
}

p {
    color: #000;
}

#new-date {
    flex-direction: row;
}

.meeting {
    background-color: #333;
    border-radius: 1vh;
    border-color: transparent;
    font-family: Arial, ArialHebrew, sans-serif;
    font-size: x-large;
    text-align: center;
    color: #FFF;
    margin: 1vh;
    padding: 0;
    min-height: min-content;
}

.meeting > div {
    flex-direction: row;
    align-items: center;
    max-height: 8vh;
    padding: 1vh;
}

.meeting > div > img {
    max-height: inherit;
}

.meeting p {
    color: #FFF;
}

.meetingContent{
    direction: rtl;
}

#queue {
    overflow-y: scroll;
    justify-content: start;
}

input:not([type]), .meeting > p {
    direction: rtl;
}